@import "normalize.scss";

// === variables ===
$color-white : #ffffff;
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
$light-grayish-blue: hsl(240, 5%, 91%);
// === / variables ===

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

// === common ===
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    background: linear-gradient(to bottom, $soft-violet, $soft-blue);
    height: 100vh;
}
// === / common ===


